#m-vision{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 10px;
    row-gap: 20px;
    margin-bottom: 20px;
}
#m-vision > *{
    width: max(45%, 400px);
}
.cosa{
    border-radius: 5px;
    box-shadow: 0 0 10px #0509;
    padding: 8px;
    background-color: #FFF;
    max-width: 95%;
    justify-self: center;
}
.Cuerpo p, .Cuerpo a{
    font-size: 16px;
    color: #020;
    cursor: default;
}
.Cuerpo p{
    margin-left: 8px;
    text-wrap: pretty;
}
.Cuerpo a{
    transition: color 0.2s ease;
}
.Cuerpo a:hover{
    color: #059;
}
#ubicacion > iframe{
    width: 100%;
}
#desarrolladores{
    box-sizing: border-box;
    margin-top: 20px;
    width: min(450px, 100%);
    justify-self: center;
}

.cosa > h2{
    color: #0db450;
    font-weight: bold;
}

.contactImg{
    filter: invert(100%) sepia(100%) saturate(5000%) hue-rotate(70deg) brightness(70%) contrast(100%);
}
#contact a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width: 768px){
    .Cuerpo p, .Cuerpo a{
        font-size: 12px;
    }
}