html{
    background-color: #065d29;
}

/* body{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
} */

.main{
    position: fixed;
    inset: 0;
    margin: auto;
    display: grid;
    height: min-content;
    width: 60vw;
    grid-template-areas: "nada cubo registro";
    grid-template-columns: 0.05fr 1fr 0.8fr;
}

.nada{
    grid-area: nada;
    background-color: #0db450;
    border-radius: 4px 0 0 4px;
}

.registro{
    align-self: center;
    background-color: #f2fff5;
    border-radius: 15px;
    box-shadow: 5px 3px 10px #0005;
    z-index: 1;
    grid-area: cubo;
    height: 120%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
    .registro > h1{
        color: #0db450;
        font-size: 25px;
    }
    .input{
        padding: 5px;
        width: 95%;
        border-radius: 2px;
        border: 1px solid #0db450;
    }
    .submit{
        background-color: #0db450;
        width: 50%;
        padding: 5px;
        border-radius: 4px;
        background: linear-gradient(to left, #0db450 50%, #ffffff 50%);
        background-size: 200% 100%;
        background-position: right;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: #ffffff;
        border: 1px solid #0db450;
    }
        .submit:hover{
            background-position: left;
            color: #0db450;
            
        }

.error{
    color: #0db450;
    font-size: 16px;
}

.nuevo{
    grid-area: registro;
    background-color: #0db450;
    border-radius: 0 4px 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
    .nuevo > .Cuenta > *{
        color: #FFF;
        margin-bottom: 20px;
    }
    .nuevo > .Cuenta > h2{
        font-size: 20px;
    }
    .nuevo > .Cuenta > h4{
        margin: 10px;
        font-size: 18px;
        font-weight: normal;
    }
    .nuevo > .Cuenta > .register{
        font-size: 18px;
        color: #FFF;
        border: 1px solid #FFF;
        padding: 5px;
        border-radius: 4px;
        margin: 0 auto 20px 10px;
        text-decoration: none;
        background: linear-gradient(to left, #0000 50%, #ffffff 50%); 
        background-size: 201% 100%; 
        background-position: right bottom; 
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
        .nuevo > .Cuenta > .register:hover{
            color: #0db450;
            background-position: left bottom;
        }

    .nuevo > footer, .nuevo > footer > a{
        font-size: 14px;
        color: #c7f1c7;
        bottom: 5px;
    }
        .nuevo > footer > a:hover{
            color: #FFF;
        }
main{
    display: flex;
}
/*
**
**  Responsive
**
*/
@media only screen and (max-width: 768px){
    .main{
        grid-template-areas: "nada" "cubo" "registro";
        grid-template-columns: 1fr;
        grid-template-rows: 5dvh fit-content 35dvh;
    }

    .nada{
        border-radius: 4px 4px 0 0;
        min-height: 5dvh;
    }
    .error{
        font-size: 14px;
    }
    .registro{
        width: 120%;
        justify-self: center;
    }
        .registro > * > .input{
            font-size: 15px;
        }
        .registro > h1{
            font-size: 18px;
        }
    .submit{
        font-size: 15px;
    }

    .nuevo{
        border-radius: 0 0 4px 4px;
        padding: 0;
    }
        .nuevo > .Cuenta{
            padding: 30px 10px 20px;
        }
            .nuevo > .Cuenta > h2{
                margin-top: 5px;
                margin-bottom: 0;
            }
            .nuevo > .Cuenta > h4{
                margin-top: 0;
                font-size: 15px;
            }
            .nuevo > .Cuenta > .register{
                font-size: 15px;
            }

        .nuevo > footer, .nuevo > footer > a{
            font-size: 12px;
        }
        .nuevo > footer{
            padding: 5px;
        }
}